[Desktop Entry]
Version=1.0
Name=ImageJ
GenericName=ImageJ
X-GNOME-FullName=ImageJ
Comment=Scientific Image Analysis
Type=Application
Categories=Education;Science;ImageProcessing;
Exec=/home/devfest/Desktop/ImageJ/ImageJ
TryExec=/home/devfest/Desktop/ImageJ/ImageJ
Terminal=false
StartupNotify=true
Icon=/home/devfest/Desktop/ImageJ/images/icon.png
StartupWMClass=ij-ImageJ
